h3 {
  text-decoration: underline;
}

.coding-choices {
  width: 15%;
  float: left;
}

.survey {
  width: 45%;
  float: left;
}

.language-information {
  width: 30%;
  float: left;
}

.css-design {
  display: none;
}

.back-end {
  display: none;
}

.either {
  display: none;
}

.error {
  display: none;
}

.c-sharp {
  display: none;
}

.java {
  display: none;
}

.php {
  display: none;
}

.ruby {
  display: none;
}

.clickable-css {
  cursor: pointer;
  color: blue;
}

.clickable-css:hover {
  text-decoration: underline;
}

.clickable-csharp {
  cursor: pointer;
  color: blue;
}

.clickable-csharp:hover {
  text-decoration: underline;
}

.clickable-java {
  cursor: pointer;
  color: blue;
}

.clickable-java:hover {
  text-decoration: underline;
}

.clickable-php {
  cursor: pointer;
  color: blue;
}

.clickable-php:hover {
  text-decoration: underline;
}

.clickable-ruby {
  cursor: pointer;
  color: blue;
}

.clickable-ruby:hover {
  text-decoration: underline;
}
