h3 {
  text-decoration: underline;
}

.coding-choices {
  width: 15%;
  float: left;
}

.survey {
  width: 45%;
  float: left;
}

.language-information {
  width: 30%;
  float: left;
}

.css-design {
  display: none;
}

.back-end {
  display: none;
}

.c-sharp {
  display: none;
}

.java {
  display: none;
}

.php {
  display: none;
}

.ruby {
  display: none;
}
